@using Assignment_UI.ViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FoodGive</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Assignment_UI.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <link rel="stylesheet" href="~/css/animate.css" />
</head>
<body>
    <header class="container py-3 bg-opacity-10">
        @* Nav *@
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light bg-secondary box-shadow-edit mb-3 rounded-4 px-2  border-0" data-bs-theme="light">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Food<span class="fw-bolder text-primary">Give</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor03">
                    <ul class="navbar-nav ms-auto me-auto" id="menu">
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-home me-1"></i>Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center" asp-controller="Food" asp-action="Index"><i class="fa-solid fa-bowl-food me-1"></i>Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center" href="#about"><i class="fa-solid fa-circle-info me-1"></i>About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center" asp-controller="Home" asp-action="Contact"><i class="fa-solid fa-envelope-circle-check me-1"></i>Contact</a>
                        </li>

                    </ul>
                    <div class="d-flex">
                        <a class="nav-link me-3" asp-action="Index" asp-controller="Cart">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <span class="fs-6">@(Context.Session.GetString("CartCount"))</span>
                        </a>
                        @if (Context.Session.Get<UserViewModel>("userLogined") == null)
                        {
                            <a class="nav-link me-3" asp-action="Login" asp-controller="Auth">
                                <i class="fa-solid fa-user"></i>
                                <span class="fs-6">Sign in</span>
                            </a>
                        }
                        else
                        {
                            <li class="nav-item dropdown list-unstyled" style="cursor : pointer">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Chào, @(Context.Session.Get<UserViewModel>("userLogined").FullName)</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-action="UpdateInfo" asp-controller="Auth">Thông tin tài khoản</a></li>
                                    <li><a class="dropdown-item" asp-action="Order" asp-controller="Auth">Đơn hàng</a></li>
                                    <li><a class="dropdown-item" asp-action="changePass" asp-controller="Auth">Đổi mật khẩu</a></li>
                                    <li><a class="dropdown-item" asp-action="Logout" asp-controller="Auth" asp-route-token="@Context.Session.GetString("Token")">Đăng xuất</a></li>
                                </ul>
                            </li>
                        }
                    </div>
                </div>
            </div>
        </nav>
        
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            <partial name="_Notificate" />
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2024 - Phan Đức Tiến - <a class="text-decoration-none text-link" asp-action="Home" asp-action="Privacy">Watch our privacy</a>
        </div>
    </footer>
            <script src="~/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        const menuItems = document.querySelectorAll('#menu a');
        menuItems.forEach(item => {
            item.addEventListener('click', () => {
                menuItems.forEach(item => item.classList.remove('border-bottom', 'border-primary','border-2'));
                item.classList.add('border-bottom', 'border-primary', 'border-2');
            });
        });
    </script>
</body>
</html>
