@model IEnumerable<Assignment_UI.ViewModel.Order.OrderVM>;
@{
    ViewData["title"] = "View Order";
}
<table class="table table-hover table-bordered text-center my-4">
    <thead class="table-warning">
        <tr>
            <th>Order ID</th>
            <th>Payment Type</th>
            <th>Order Date</th>
            <th>Payment Status</th>
            <th>Order Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null)
        {
                <tr>
                    <td colspan="5">@ViewBag.none</td>
                </tr>
        } else
        {
            @foreach (var item in Model)
            {
                <tr class="align-middle">
                    <td>@item.OrderId</td>
                    <td>@item.PaymentType</td>
                    <td>@item.OrderDate.ToString("dd-MM-yyyy HH:mm:ss")</td>
                    <td>
                        @if (item.PaymentStatus == "Chưa thanh toán")
                        {
                            <div class="p-2 badge bg-primary text-white">@item.PaymentStatus</div>
                        }
                        else
                        {
                            <div class="p-2 badge bg-success text-white">@item.PaymentStatus</div>
                        }
                    </td>
                    <td>
                        @if (@item.OrderStatus == "Đang chuẩn bị")
                        {
                            <div class="p-2 badge bg-warning text-white">@item.OrderStatus</div>
                        }
                        else if(item.OrderStatus == "Đã giao")
                        {
                            <div class="p-2 badge bg-success text-white">@item.OrderStatus</div>
                        } else
                        {
                            <div class="p-2 badge bg-primary text-white">@item.OrderStatus</div>
                        }
                    </td>
                    <td> <a asp-action="ViewOrder" asp-controller="Order" asp-route-id="@item.OrderId" class="btn btn-sm btn-outline-dark">View Detail</a></td>
                </tr>
            }
        }
    </tbody>
</table>