@model Assignment_UI.ViewModel.DetailViews;
@{
    ViewData["title"] = "Food details";
}
<div class="container">
    <div class="mb-3 row box-shadow-edit py-3 rounded-2">
    <div class="offset-1 col-4">
        <img src="@Model.food.mainImage" width="300px" height="300px"/>
    </div>
    <div class="col-6" style="position:relative; top:30px; left:100px;">
        <div class="h2 fw-bold text-warning">@Model.food.Name.ToUpper()</div>
        <div class="h5">Giá : @Model.food.UnitPrice.ToString("#,##") vnđ</div>
        <div class="h6 py-1">Lượt xem : @Model.food.View</div>
        <div class="h6 py-1">Số lượng :</div>
        <form method="post" asp-action="AddtoCart" asp-controller="Cart" asp-route-id="@Model.food.FoodId">
            <div class="btn-group w-50 py-1">
                <button type="button" class="btn btn-warning" onclick="decrease()">-</button>
                <input type="number" class="form-control rounded-0 text-center" name="quantity" id="quantity" readonly value="1" />
                <button type="button" class="btn btn-plus btn-warning" onclick="increase()">+</button>
            </div>
            <div class="d-flex justify-content-between py-3" style="width:250px;">
                <button class="btn btn-warning">Thêm giỏ hàng</button>
            </div>
        </form>
    </div>
</div>
 <hr />
    <h4 class="fw-bold my-3">Người khác cũng đặt</h4>
    <hr />
    <div class="row">
        @foreach(var item in Model.foods)
        {
            <div class="col-3">
                <div class="card mb-3 shadow">
                    <a asp-controller="Food" asp-action="Details" asp-route-id="@item.FoodId">
                        <img src="@item.mainImage" width="100%" height="100%" />
                    </a>
                    <div class="card-body fw-bolder">
                        <a asp-controller="Product" asp-action="Details" asp-route-id="1" class="text-decoration-none text-dark">
                            @item.Name
                        </a>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-between align-items-center">
                            @item.UnitPrice
                            <a asp-controller="Food" asp-action="Details" asp-route-id="@item.FoodId" class="btn btn-sm btn-warning rounded-2 text-dark">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<script>
    function increase(){
        document.getElementById('quantity').value++;
    }
    function decrease() {
        if (document.getElementById('quantity').value > 1) {
            document.getElementById('quantity').value--;
        }
    }
</script>