@model IEnumerable<Category>;
@{
    Layout = "_LayoutManage";
    ViewData["title"] = "Category";
}
<div class="d-flex justify-content-center align-items-center h-100">
    <div class="container">
        <form asp-controller="FGive" asp-action="SearchNameCate" class="my-5">
            <div class="d-flex">
                <input type="text" name="query" placeholder="Search by name" class="form-control me-3" />
                <button class="btn btn-primary" type="submit">Search</button>
                <a asp-action="Categories" asp-controller="FGive" class="btn btn-info">Reload</a>
            </div>
        </form>
        <table class="table table-hover table-bordered text-center">
            <thead class="table-warning">
                <tr>
                    <th>Name</th>
                    <th>Image</th>
                    <th>
                        <a asp-action="CreateCate" class="btn btn-sm btn-success">Add category</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="align-middle">
                        <td>@item.Name</td>
                        <td><img src="@item.ImageUrl" width="50px" /></td>
                        <td>
                            <a asp-action="DetailCate" asp-controller="FGive" asp-route-id="@item.CategoryId" class="btn btn-sm btn-info">Details</a>
                            <a asp-action="UpdateCate" asp-controller="FGive" asp-route-id="@item.CategoryId" class="btn btn-sm btn-warning">Update</a>
                            <a asp-action="DeleteCate" asp-controller="FGive" asp-route-id="@item.CategoryId" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>